* {
  margin: 1rem;
}

.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 80px;
  border-radius: 20px;
}

body {
  background-color: rgb(68, 61, 61);
  color: white;
}

input {
  border-radius: 20px;
  text-align: center;
}
